body {
    margin: 0;
    background-color: #1F2937;
}
.ga{
    color: #FFFFFF;
    font-family: Karla;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    margin-left: 40px;
    margin-bottom: 0;
}
.rp{
    font-family: Karla;
    color:#4ADF86;
    margin-left: 40px;
    margin-top: 0;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 5px;
}

p{
    color: #D5D4D8;
    font-family: Inter;
    margin-left: 40px;
    margin-top: 0;
}
button{
    font-family: Inter;
    background-color: #10B981;
    border: none;
    color: #FFFFFF;
    padding: 9px 17px 9px 15px;
    border-radius: 6px;
    margin-left: 40px;
    margin-top:30px;
}
.password{
    display: flex;
    margin-top:50px;
}
#firstPass-el{
    border: none;
    color: #55F991;
    background: #273549;
    padding: 7px 40px 10px 40px;
    border-radius:5px;
}
#secondPass-el{
    border: none;
    color: #55F991;
    background: #273549;
    padding: 7px 40px 10px 40px;
    border-radius:5px;
}

